* {
    box-sizing: border-box;
    margin: 0;
}

.publi,
.main,
.userdata {
    background: rgb(43, 206, 193);
    background: linear-gradient(90deg, rgba(43, 206, 193, 1) 0%, rgba(67, 121, 220, 1) 100%);
    margin: 0;
    padding: 2%;
}